body {
    font-family: 'Outfit';
    background-color: #D6E2F0;
    font-size: 20px;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 20px;
    width: 650px;
    background-color: white;
    
}

#r2 {
    text-align: center;
    width: 300px;
    height: 30px;
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 20px;
}

input {
    padding: 4px;
    border-radius: 5px;
    height: 15px;
    font-size: 20px;
}

label {
    margin-top: auto;
    margin-bottom: auto;
}

legend {
    font-weight: 600;
    background-color: blue;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid;
    border-color: gray;
}

button {
    width: 180px;
    height: 40px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #999999;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    font-size: 20px;
    background-color: white;


}

button:hover{
    background-color: rgb(245, 243, 243);
}

#btnMagico:hover{
    color: white;
    background-color: purple;
}